@import 'core/settings';

body {
  height: 100vh;
  box-sizing: border-box;
}
.title {
  text-align: center;
  padding: 20px;
  margin: 0;
}
.numberCards {
  text-align: center;
  padding: 20px;
}
.chooseCards{
  display: flex;
  justify-content: center;
    .back{
      margin-left: 15px;
    }
}
