<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Emparéjame</title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <h1 class="title">El juego de las parejas</h1>
  <div class="numberCards">
    <label for="fourCards">
      <input type="radio" value="4" name="card" checked> 4
    </label>
    <label for="sixCards">
      <input type="radio" value="6" name="card"> 6
    </label>
    <label for="eightCards">
      <input type="radio" value="8" name="card"> 8
    </label>
    <button class="btn">Comenzar</button>
  </div>
  <div class="chooseCards">
    <img class="back" src="https://via.placeholder.com/160x195/30d9c4/ffffff/?text=ADALAB">
    <img class="back" src="https://via.placeholder.com/160x195/30d9c4/ffffff/?text=ADALAB">
    <img class="back" src="https://via.placeholder.com/160x195/30d9c4/ffffff/?text=ADALAB">
    <img class="back" src="https://via.placeholder.com/160x195/30d9c4/ffffff/?text=ADALAB">
  </div>
  <script src="../assets/js/main.js"></script>
</body>
</html>

